<%-include('../partials/head')%>
   <title>DeliBerri - Espirituosas</title>

   <body>

      <%-include('../partials/header')%>

         <main class="background">

            <div class="banner">
               <div class="capa"></div>
               <div class="info">
               </div>
            </div>

            <section class="conteiner">
               <h3 class="title">Refrescos</h3>
               <div class="products-conteiner">
                  <% for (let i=0; i < products.length; i++){%>
                     <% if (products[i].category_id===4) {%>


                        <div class="product" data-name="p-1">
                           <a href="/productos/detalle/<%=products[i].id%>">
                              <img class="desierto25" src="/img/Products/<%=products[i].image%>" alt="">
                           </a>
                           <h4 class="promo">
                              <%=products[i].description%>
                           </h4>
                           <div class="price">$<%=products[i].price%>
                           </div>
                           <h3 class="product-name">
                              <%=products[i].title%>
                           </h3>
                           <div class="buttons">
                              <a href="http://localhost:3001/productCart" class="cart">Comprar ahora</a>
                              <a href="http://localhost:3001/productCart" class="cart">Añadir al carrito</a>
                           </div>
                        </div>
                        <%}%>
                           <%}%>
            </section>

         </main>


         <%-include('../partials/footer')%>

   </body>

   </html>