<%-include('../partials/head')%>
   <title>DeliBerri - Vinos</title>

   <body>

      <%-include('../partials/header')%>


         <main class="background">

            <div class="banner">
               <div class="capa"></div>
               <div class="info">
               </div>
            </div>

            <section class="conteiner">
               <h2 class="title">Vinos</h2>
               <div class="products-conteiner">
                  <% for (let i=0; i < products.length; i++){%>
                     <% if (products[i].category_id===3) {%>


                        <div class="product" data-name="p-1">
                           <a href="/productos/detalle/<%=products[i].id%>">
                              <img class="desierto25" src="/img/<%=products[i].image%>" alt="">
                           </a>
                           <h3 class="product-name">
                              <%=products[i].title%>
                           </h3>
                           <h4 class="promo">
                              <%=products[i].description%>
                           </h4>
                           <div class="price">$<%=products[i].price%>
                           </div>
                           <p class="stock-detalleProducto">Stock disponible</p>
                           <div class="buttons">
                              <a href="http://localhost:3001/productCart" class="cart">Comprar ahora</a>
                              <a href="http://localhost:3001/productCart" class="cart">Añadir al carrito</a>
                           </div>
                        </div>
                        <%}%>
                           <%}%>
            </section>

         </main>


         <!-- 
         <main class="background">

           

            <section class="conteiner">
               <h2 class="title">Vinos</h2><div class="kk">
                  <div class="products-conteiner">
                     
                     <% for (let i = 0; i < products.length; i++){%>
                     <% if (products[i].category_id === 3) {%>  
                        <div class="product">
                           
                           
                           <a href="/productos/detalle/<%=products[i].id%>"> 
                     <img src="/img/<%=products[i].image%>"></img>
                     </a> 
                     <div class="price"><%=products[i].title%></div>
                     <div class="price">$<%=products[i].price%></div>
                     <h3 class="product-name"><%=products[i].description%></h3>
                     <div class="buttons">
                        <a href="/productCart" class="buy">Comprar ahora</a>
                        <a href="#" class="cart">Añadir al carrito</a>
                     
                        
                     </div>  
                     <%}%>
                     <%}%>
                  </div>
               </div>
            </div>
         </section>

         </main> -->

         <%-include('../partials/footer')%>

   </body>

   </html>

   </html>