

   <!DOCTYPE html>
   <html lang="en">
   <head>
      <title>DeliBerri</title>
      <link rel="icon" type="image/x-icon" href="../../../img/favicon.ico"/> 
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="/css/main.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
      <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css">
       <meta charset="UTF-8">
       <meta name="viewport" content="width=device-width, initial-scale=1.0">
       <title><%= category.name %> </title>
</head>

<%-include('../partials/header')%>

<body>
   <h1>LISTADO DE CATEGORIAS</h1>
   <br>
   <p>
      <a class="botonAgregar" href="/categorias/add">Agregar una Categoria</a>
      <a class="botonVolver" href="/">Inicio</a>

   </p>
   <br>
   <div class="buscar-titulo">
      <form action="/categorias/buscar" method="POST">
         <input type="text" name="titulo" id="titulo">
      </form>

   </div>
   <ul>
      <% for( let i=0; i < category.length; i++ ) { %>
         <li>
            <a href="/categorias/detalle/<%= category[i].id %>">
               <%= category[i].name %>
            </a>
         </li>
         <% } %>

   </ul>
</body>

<%-include('../partials/footer')%>

</html>