<%-include('../partials/head')%>
   <title>DeliBerri - Ingresá/Registrate</title>

   <body>

      <%-include('../partials/header')%>

         <form action="/login" method="POST" class="login">

            <div class="control-formulario-login">
               <label class="control-formulario-titulo ">Ingresá a Deliberri!</label>
               <input type="email" name="email" class="control" placeholder="Correo Electronico"
                  value="<%= locals.oldData ? oldData.email:'' %>">
               <% if (locals.errors && errors.eMail) { %>
                  <span style="color: red">
                     <%= errors.eMail.msg %>
                  </span>
                  <%} %>
            </div>

            <div class="control-formulario-login">
               <input type="password" name="password" placeholder="Contraseña" class="control"
                  value="<%= locals.oldData ? oldData.password:'' %>">
               <% if (locals.errors && errors.password) { %>
                  <span style="color: red">
                     <%= errors.password.msg %>
                  </span>
                  <%} %>
            </div>

            <div id="checkboxalignment">
               <div id="checkboxes">
                  <div id="agree"><input type="checkbox" name="remember_user">
                     <label id='remember_user' name='remember_user' class="form-check">Recordar
                        credenciales</label>
                     </div>
               </div>
            </div>

            <div class="control-formulario">
               <button type="submit" class="boton-formulario-login" name="ingresar">Ingresar</button>
            </div>
            <div class="control-formulario">
               <a href="/register" class="otras-opciones">¿No tenés una cuenta? Registrate!</a>
            </div>

         </form>

         <%-include('../partials/footer')%>

            <script src='/js/usersLoginValidation.js'></script>
   </body>

   </html>